https://github.com/Lightning-AI/lightning/archive/refs/heads/release/stable.zip
datasets
transformers
scikit-learn
dvc
hydra-core==1.3.2
hydra_colorlog==1.2.0
funcy==1.17
wandb
onnx
onnxruntime
fastapi
uvicorn
